footer {
  background-color: $black;
  color: $white;
  height: calc(4vh + .5rem);
  display: flex;
  align-items: center;
  padding: .25rem;
  & .blurb {
    font-size: 1rem;
    padding: 0.5rem;
  }
}