.game-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - (4vh + 1rem) - 6rem);
  min-height: 600px;
  align-items: center;
  margin: 3rem;
  @media (max-width: $mobile) {
    margin: 1rem;
    align-items: flex-start;
    height: calc(96vh - 1rem);
    margin-bottom: 0;
  }
}

main {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-start;
  @media (max-width: $tablet) {
    flex-basis: 100%;
    justify-content: center;
  }
  @media (min-width: $large-desktop) {
    justify-content: center;
  }
}

.game-board {
  position: relative;
  flex: 0 0 90%;
  max-width: 600px;
  min-width: 260px;
  @media (max-width: $tablet) {
    flex-basis: 75%;
  }
  @media (max-width: $tablet) and (max-height: 850px) {
    flex-basis: 60%;
  }
  @media (max-width: $mobile) {
    flex-basis: 90%;
  }
  & img {
    background-color: $white;
  }
}

.tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 20px;
}

.tiles-wrapper-hide {
  display: none;
}

.tile-disabled {
  z-index: -1;
  opacity: .7;
}

.tile {
  background-color: rgba(0, 159, 253, 1);
  flex: 1 0 22%;
  margin: 0 1rem 1rem 0;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 100ms ease;
}

.tile:nth-child(4n+4) {
  margin-right: 0;
}

.tile:hover {
  animation: shake 200ms;
  background-color: rgba(0, 159, 253, 0.7)
}

.game-over {
  display: none;
  justify-content: center;
  align-items: center;
}

.game-over-visible {
  display: flex;
}