main {
  flex: 1 0 50%;
}
.game-wrapper {
  display: flex;
  height: calc(100vh - 6rem);
  align-items: center;
  margin: 3rem;
}
.game-board {
  position: relative;
  & img {
    background-color: #fff;
  }
}

.tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: dodgerblue;
  border-radius: 20px;
}

.tile {
  background-color: dodgerblue;
  flex: 1 0 22%;
  margin: 0 1rem 1rem 0;
  border-radius: 20px;
}

.tile:nth-child(4n+4) {
  margin-right: 0;
}

.flipper {
  position: relative;
  height: 100%;
}

.button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MODAL

.fact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.fact {
  background-color: #fefefe;
  padding: 3rem;
  position: relative;
  max-width: 80%;
}