body {
  background-color: $white;
}
img {
  width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.button {
  border: none;
  padding: 2rem 6rem;
  border-radius: 10px;
  background-color: $accent;
  color: $black;
  box-shadow: 5px 5px $black;
  transition: background-color 300ms ease;
}

.button:hover {
  background-color: $accent-hover;
}

.hide {
  visibility: hidden;
}

.shimmer {
  background: linear-gradient(to left, $black 20%, $black 40%, #888 60%, #222 100%);
  background-size: 200% auto;
  animation: shine 1500ms linear;
  animation-iteration-count: 1;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}