body {
  background-color: $white;
}
img {
  width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.button {
  border: none;
  padding: 2rem 6rem;
  border-radius: 10px;
  background-color: $black;
  color: $white;
}

.hide {
  visibility: hidden;
}