header {
  flex: 0 0 50%;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: $tablet) {
    flex-basis: 100%;
  }
  @media (max-width: $mobile) {
    margin: 3rem 0 0 0;
  }
  & h1 {
    flex: 0 0 80%;
    margin: 0;
  }
  & .blurb {
    flex: 0 0 80%;
  }
}