html {
  font-size: 62.5%;
  @media(min-width: $large-desktop) {
    font-size: 100%;
  }
} 
body {
  font-size: 1.6rem;
}
header {
  text-align: center;
}
h1 {
  font-family: $heading-font;
  font-size: 6rem;
  letter-spacing: 2px;
  @media (max-width: $mobile) {
    font-size: 3rem;
  }
}
.blurb {
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 2rem;
  font-family: $body-font;
  @media (max-width: $mobile) {
    font-size: 1.8rem;
  }
}
.button {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}

