article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }

@-webkit-keyframes shine {
  to {
    background-position: 200% center; } }

@keyframes shine {
  to {
    background-position: 200% center; } }

html {
  font-size: 62.5%; }
  @media (min-width: 1800px) {
    html {
      font-size: 100%; } }

body {
  font-size: 1.6rem; }

header {
  text-align: center; }

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 6rem;
  letter-spacing: 2px; }
  @media (max-width: 575px) {
    h1 {
      font-size: 3rem; } }

.blurb {
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif; }
  @media (max-width: 575px) {
    .blurb {
      font-size: 1.8rem; } }

.button {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px; }

body {
  background-color: #f7f5f4; }

img {
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem; }

.button {
  border: none;
  padding: 2rem 6rem;
  border-radius: 10px;
  background-color: #001011;
  color: #f7f5f4; }

.hide {
  visibility: hidden; }

.shimmer {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #001011), color-stop(40%, #001011), color-stop(60%, #888), to(#222));
  background: -webkit-linear-gradient(left, #001011 20%, #001011 40%, #888 60%, #222 100%);
  background: -o-linear-gradient(left, #001011 20%, #001011 40%, #888 60%, #222 100%);
  background: linear-gradient(to right, #001011 20%, #001011 40%, #888 60%, #222 100%);
  background-size: 200% auto;
  -webkit-animation: shine 1500ms linear;
  animation: shine 1500ms linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

header {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  margin-bottom: 3rem; }
  @media (max-width: 799px) {
    header {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
  @media (max-width: 575px) {
    header {
      margin: 3rem 0 0 0; } }
  header h1 {
    margin: 0 3rem 3rem; }
  header .blurb {
    width: 80%;
    margin: 0 auto; }

main {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 600px;
  min-width: 260px;
  margin: 0 auto; }
  @media (min-width: 1800px) {
    main {
      max-width: 1200px; } }

.game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: calc(96vh - 6.3rem);
  min-height: 600px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3rem; }
  @media (max-width: 575px) {
    .game-wrapper {
      margin: 1rem;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      height: calc(100vh - 4.75rem); } }

.game-board {
  position: relative; }
  .game-board img {
    background-color: #f7f5f4; }

.tiles-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #009ffd;
  border-radius: 20px; }

.tile {
  background-color: #009ffd;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 22%;
  flex: 1 0 22%;
  margin: 0 1rem 1rem 0;
  border-radius: 20px;
  cursor: pointer; }

.tile:nth-child(4n+4) {
  margin-right: 0; }

.tile:hover {
  -webkit-animation: shake 200ms;
  animation: shake 200ms; }

.button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.game-over {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

footer {
  background-color: #001011;
  color: #f7f5f4;
  padding: .25rem 0; }
  footer .blurb {
    font-size: 1rem;
    padding: 0.5rem; }
